# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd

# Credențiale sensibile
.env
credentials_*.json
token_*.json
*.json

# Fișiere temporare
*.tmp
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
test_chat_id.py